body {
  background: url("img/cork.jpg");
  font-family: "Comic Sans MS";
}
h5 {
  font-size: 50%;
}
.box {
  text-align: center;
  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  display: inline-block;
}

input {
  padding: 5px;
  margin-top:20px;
  margin-left: 20px;
  display: inline-block;
}

.quote-container {
  margin-top: 50px;
  position: relative;
  margin-left: 25px;
}

.note {
  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

.yellow {
  background: #eae672;
}

.blue {
  background: #add8e6;
}