.box {
  background-color: black;
  background-size: cover;
  border: black;
  font-size: 16px;
  margin: 5px;
  display: block;
  float: left;
  height: 300px;
  width: 300px;
  opacity: 0.8;
  font-weight: 400;
  color: white;
}

input {
  padding: 5px;
  margin-top:20px;
  display: inline-block;
}